@charset "UTF-8";
/* line 6, ../sass/page5.scss */
.bg_color {
  background: #f3f2ef;
  padding-bottom: 10px; }

/* line 7, ../sass/page5.scss */
.audio {
  width: 1000px;
  height: 487px;
  background: #3e4046; }

/*========支持体系======*/
/* line 14, ../sass/page5.scss */
.page5_class_ul {
  margin-top: 20px; }
/* line 16, ../sass/page5.scss */
.page5_class_ul li {
  width: 233px;
  margin-right: 22px;
  margin-bottom: 40px; }
/* line 20, ../sass/page5.scss */
.page5_class_ul li .page5_class_img {
  height: 248px;
  overflow: hidden;
  position: relative; }
/* line 24, ../sass/page5.scss */
.page5_class_ul li .page5_class_img img {
  width: 100%;
  height: 100%; }
/* line 28, ../sass/page5.scss */
.page5_class_ul li .page5_class_img p {
  width: 190px;
  text-indent: 26px;
  font-size: 20px;
  color: #fff;
  background: #00b7ee;
  height: 54px;
  line-height: 54px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  position: absolute;
  top: 0;
  left: -190px; }

.page5_class_ul li:hover .p_school{
  left: 0;
}
/* line 41, ../sass/page5.scss */
.page5_class_ul li .p_word {
  margin-top: 22px;
  line-height: 22px;
  color: #747474;
  overflow: hidden;
  min-height: 66px;
  width: 100%; }
/* line 49, ../sass/page5.scss */
.page5_class_ul li a {
  margin-top: 40px;
  font-size: 14px;
  color: #9f8f58;
  text-decoration: underline; }

/* line 57, ../sass/page5.scss */
.page5_title_box {
  width: 1170px;
  height: 130px;
  padding: 3px;
  background: #f3f2ef;
  border: 1px solid #C7C7C7;
  margin: -65px auto  0; }
/* line 64, ../sass/page5.scss */
.page5_title_box .child_box {
  height: 100%;
  background: #fff;
  border: 1px solid #C7C7C7;
  line-height: 147px;
  text-align: center; }

/* line 73, ../sass/page5.scss */
.roundabout-holder {
  width: 1000px;
  height: 584px;
  margin: 0 auto;
  overflow: hidden; }
/* line 78, ../sass/page5.scss */
.roundabout-holder .pe_img {
  text-align: center; }
/* line 80, ../sass/page5.scss */
.roundabout-holder .pe_img .dd2 {
  color: #333333;
  margin-top: 30px; }
/* line 85, ../sass/page5.scss */
.roundabout-holder .pe_word {
  font-size: 14px;
  text-indent: 2em;
  line-height: 20px;
  margin-top: 14px;
  padding: 0 10px;
  color: #333333; }
.roundabout-holder li{background: #FFF}
/* line 91, ../sass/page5.scss */
.roundabout-moveable-item {
  width: 410px;
  height: 565px;
  cursor: pointer; }

/* line 92, ../sass/page5.scss */
.roundabout-moveable-item img {
  width: 100%; }
