#footer
   .f_cont
      .f_left
         .f_logo
            img(src='imgs/footer_logo.png', alt='飞博教育')
         p 北京飞博教育科技股份有限公司
         p Copyright ©2016. All Rights Reserved
         p 京ICP备12012854号-3   京公网安备11010502027391号
         div(style='display: none;')
            script(type='text/javascript').
               var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258063509'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258063509%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
      ul.f_right
         li
            p.title_lg 关于我们
            p
               a(href='/about') 加入我们
            // <p><a href="javascript:void (0);">飞博简介</a> </p>
            // <p><a href="javascript:void (0);">联系方式</a> </p>
         li
            p.title_lg 商务合作
            p
               a(href='/success') 成功案例
            p
               a(href='/business') 商务洽谈

