#header.header.header--fixed.hide-from-print
   .nav
      .logo
         a(href='/index')
            img(src='imgs/header_logo.png', alt='飞博教育')
      ul.list-horizontal
         li
            a(href='/index') 首页
         li
            a(href='/product') 产品体系
         li
            a(href='/success') 成功案例
         li
            a.active(href='/school') 公立学校
         li
            a(href='/teacher') 外教师资
         li
            a(href='/feibo') 飞博学院
         li
            a(href='/business') 商务合作
      // <a class="point" href="#"></a>