doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='北京飞博教育科技股份有限公司成立于2012年, 是国内外教云平台的首创者，我们专注为教育机构提供全球外教资源。目前飞博已经与全国数百家教育机构达成合作，成功为合作伙伴搭建自主品牌网校，完成外教团队教学对接工作，协助合作伙伴最快速实现在线英语课程的顺利开展。')
    meta(name='keywords', content='飞博教育,外教云平台,在线教育,云教育,外教一对一,在线教育云平台,互联网教育')
    // <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    link(rel='styleSheet' href='css/bootstrap.css')
    link(rel='stylesheet', href='css/common.css')
    link(rel='stylesheet', href='css/page5.css')
    link(rel='stylesheet',href='css/screen.css')
    title 公立学校
  body
    include header.jade
    block con
    include footer.jade
    script(src='js/jquery-1.11.3.js')
    script(src='js/bootstrap.js')
