extends layouts/layout.jade
block con
   .art_top_img
      img(src="imgs/top_bg_4.png")
   .main
      p.info_title   当前位置：
         a(href="./")   首页&gt;
         a(href="./")   新闻中心&gt;
         |  “微留学体验馆—英国老师专程来华，2天时间全程陪伴”
      .section
         .artc
            h2.ellipsis
            |  aksj
            p.
               kkkk
               |sadas asd//asdas
      .active.test  喜爱机会
   .main
      .container-fluid
      .row
         .col-lg-6.col-xm-1(style="border:1px solid blue")
            ul.list-group.list-horizontal
               li.list-group-item 第一个
               li.list-group-item 第一个
               li.list-group-item-danger 第一个
               li.list-group-item-success 第一个
         .col-lg-6.col-xm-1(style="border:1px solid red")
            ul.text-danger
               li 第一个
               li 第一个
               li 第一个
               li 第一个